body {
    background-color: rgb(255, 255, 165);
    margin: 5%;
    margin-top: 8%;
    margin-bottom: 8%;
}

.imagen {
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}

.carrusel {
    text-align: center;
    margin-bottom: 10px;
}

.controles-carrusel {
    text-align: center;
    margin-bottom: 20px;
}

.controles-carrusel button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #85c1e9;
    color: white;
    cursor: pointer;
}

.controles-carrusel button:hover {
    background-color: #3498db;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    color:#85c1e9;
    text-align: center;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color:#85c1e9;
    text-align: center;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
